@import 'shadows.scss';

.chat {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 50%;
  height: 70%;
  margin: auto;

  background-color: #fff;

  border-radius: 4px;
  @include mat-shadow-1;

  @import './header.scss';
  @import './body.scss';
  @import './footer.scss';
}