.chat {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 70%;
  margin: auto;

  background-color: #fff;

  @import './header.scss';
  @import './body.scss';
  @import './footer.scss';
}